#tickets {
    background: #ccc;
}

.ticket {
    position: relative;
    float: left;
    width: 320px;
    /*width: 428px;*/
    height: 192.2px;
    /*height: 257px;*/
    margin: 5px;
    background-image: url("/img/ticket_background.png");
    /*background-size: 320px 192.2px;*/
    background-size: 320px 192.2px;
}

.ticket p {
    font-size: 2.33em;
    font-weight: bold;
    letter-spacing: 0.28em;
    padding-top: 4.2%;
    padding-left: 37.5%;
}

.ticket a {
    position: absolute;
    top: 0;
    right: 0;
}

.ticket-pending {
    opacity: 0.2;
}